@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&display=swap');

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #d2cdcd;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff70;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(183, 183, 183, 0.1);
    max-width: 400px;
    width: 100%;
    animation: fadeIn 1s ease; /* Анимация появления контейнера */
}

h1 {
    color: #333;
    animation: bounceInDown 1s ease; /* Анимация заголовка */
    font-family: 'Black Ops One', cursive;
}

.password {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.animated-input {
    border: none;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
    animation: slideInLeft 1s ease; /* Анимация полей ввода */
}

.animated-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0074cc;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    animation: slideInRight 1s ease; /* Анимация кнопки */
    transition: 0.5s;
}

button:hover {
    background-color: #0056b3;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes bounceInDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.strength {
    font-size: 16px;
    margin-top: 10px;
    animation: slideInLeft 1s ease;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}

.weak {
    background-color: #ff6666; /* Красный цвет для слабых паролей */
    color: white;
}

.medium {
    background-color: #ffcc00; /* Желтый цвет для средних паролей */
    color: #333;
}

.strong {
    background-color: #00cc00; /* Зеленый цвет для сильных паролей */
    color: white;
}

/* ------------------------------------------------------- */

.btn-17,
.btn-17 *,
.btn-17 :after,
.btn-17 :before,
.btn-17:after,
.btn-17:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-17 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.btn-17:disabled {
  cursor: default;
}
.btn-17:-moz-focusring {
  outline: auto;
}
.btn-17 svg {
  display: block;
  vertical-align: middle;
}
.btn-17 [hidden] {
  display: none;
}
.btn-17 {
  border-radius: 99rem;
  border-width: 2px;
  padding: 0.8rem 3rem;
  z-index: 0;
}
.btn-17,
.btn-17 .text-container {
  overflow: hidden;
  position: relative;
}
.btn-17 .text-container {
  display: block;
  mix-blend-mode: difference;
}
.btn-17 .text {
  display: block;
  position: relative;
}
.btn-17:hover .text {
  -webkit-animation: move-up-alternate 0.3s forwards;
  animation: move-up-alternate 0.3s forwards;
}
@-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(80%);
  }
  51% {
    transform: translateY(-80%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(80%);
  }
  51% {
    transform: translateY(-80%);
  }
  to {
    transform: translateY(0);
  }
}
.btn-17:after,
.btn-17:before {
  --skew: 0.2;
  background: #fff;
  content: "";
  display: block;
  height: 102%;
  left: calc(-50% - 50% * var(--skew));
  pointer-events: none;
  position: absolute;
  top: -104%;
  transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
  transition: transform 0.2s ease;
  width: 100%;
}
.btn-17:after {
  --progress: 0%;
  left: calc(50% + 50% * var(--skew));
  top: 102%;
  z-index: -1;
}
.btn-17:hover:before {
  --progress: 100%;
}
.btn-17:hover:after {
  --progress: -102%;
}
